.notification {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:87px;
  text-align: center;
  background:#fd4f63;
  z-index:9999;
  color:#fff;
  font-family: lato;
  font-weight:600;
  font-size:18px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom:5px;
}
