.icon__bell-dims {
    height:1em;
    width:1521.5 / 1638.5 * 1em;
}
.icon__cardio-dims {
    height:1em;
    width:1574.4 / 1435.5 * 1em;
}
.icon__check-dims {
    height:1em;
    width:1521.5 / 1167.5 * 1em;
}
.icon__clock-dims {
    height:1em;
    width:18 / 18 * 1em;
}
.icon__cross-dims {
    height:1em;
    width:1605.8 / 1602.7 * 1em;
}
.icon__health-dims {
    height:1em;
    width:1364 / 1169.2 * 1em;
}
.icon__misc-dims {
    height:1em;
    width:1202.5 / 1543.5 * 1em;
}
.icon__nav-dims {
    height:1em;
    width:51 / 41 * 1em;
}
.icon__plus-dims {
    height:1em;
    width:1566.8 / 1567 * 1em;
}
.icon__star-dims {
    height:1em;
    width:1711.7 / 1632.4 * 1em;
}
.icon__training-dims {
    height:1em;
    width:1284.8 / 1540.7 * 1em;
}
