.join-tray {
  position:fixed;
  bottom:1.5em;
  left:3.5em;
  right:3.5em;
  height:250px;
  display: flex;
  align-items:center;
  justify-content: center;
  background:#fff;
  transform: translateY(290px);
  transition: transform 300ms ease, height 100ms;
  transition-delay: 150ms;
  border-radius:3px;
  z-index:9999;
  form {
    text-align: center;
  }
}
.join-tray--init {
  transform: translateY(0);
}
.join-tray--expanded, .join-tray--expanding {
  transform: translateY(-280px);
  height:400px;
}
.join-tray--expanding {
  .join-tray__inner {
    opacity: 0;
    transition:opacity 200ms ease;
  }
}
.join-tray__inner {
  opacity: 1;
  transition:opacity 400ms ease;
}
.button.join-tray__button {
  width:360px;
  margin:0 .5em;
  form & {
    margin-top:40px;
  }
}

.tray__heading {
  font-family:'lato';
  font-size:27px;
  line-height:1.3 ;
  display:block;
  text-align:center;
  //margin:0 auto;
  margin-top:10px;
  margin-bottom:55px;
}
