.button {
    background:#00d2a9;
    border:none;
    border-radius:2px;
    text-transform:uppercase;
    color:#fff;
    font-size:14px;
    font-weight:600;
    padding:13px 10px 14px;
    margin:0;
    text-decoration:none;
    display:inline-block;
}
.button--secondary {
  //background:#c1c7dc;
}

.button--outline {
    border:2px solid #00d2a9;
    padding:11px 10px 12px;
    color:#00d2a9;
    background:transparent;
    border-radius:4px;
}

.button--inverted {
    color:#fff;
    border-color:#fff;
    background-color:rgba(255,255,255, 0);
    transition:all 300ms;
    opacity:.8;
    &:hover {
        color:#fff;
        background-color:rgba(255,255,255, .2);
        opacity:1;
    }
}
